<!DOCTYPE html>

{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<html lang="en">
    <head>
       
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Portafolio Franco Romero</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppCoder/css/cssContact.css' %}" rel="stylesheet" />
    </head>
    <br />
    <div class="inner contact">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        <form id="contact-us" method="POST" action="reservar"> {% csrf_token %}
                            <!-- Left Inputs -->
                            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                <!-- Name -->
                                <input type="text" name="name" id="name" required="required" class="form" placeholder="Nombre" />
                                <!-- Email -->
                                <input type="text" name="lastname" id="lastname" required="required" class="form" placeholder="Apellido" />
                                <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                                <!-- Subject -->
                                
                                
                                <input type= "number" name="diaInicio" id="diaInicio" required=" required" class="form" placeholder="Dia de Entrada" />
                                <input type="number" name="diaFin" id="diaFin" required=" required" class="form" placeholder="Dia de Salida" />
                                <input type="number" name="mes" id="mes" required=" required" class="form" placeholder="Mes" />
                            </div><!-- End Left Inputs -->
                            <!-- Right Inputs -->
                            <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                                <!-- Message -->
                                
                            </div><!-- End Right Inputs -->
                            <!-- Bottom Submit -->
                            <div class="relative fullwidth col-xs-12">
                                <!-- Send Button -->
                                <button type="submit" id="submit" name="submit" class="form-btn semibold">Enviar la Reserva</button> 
                            </div><!-- End Bottom Submit -->
                            <!-- Clear -->
                            <div class="clear"></div>
                        </form>
                        

                        

                    </div><!-- End Contact Form Area -->
                </div><!-- End Inner -->


    <center></center>
</html>
<br>
<br>
<br>
<br>
{% endblock %}