{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<!DOCTYPE html>
<html lang="en">
   

    <body>

    
        
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('{% static 'AppCoder/imagen1.jpg' %}')">
            <div class="text-center my-5">
                <img class="img-fluid  mb-4" src="{% static 'AppCoder/imagen8.png'%}" alt="70" width="70" height="70"/>
                
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div>
                <div>
                    <div>
                        <center>
                            <h2 >Alojamiento en Mendoza</h2>
                            <p class="lead"></p>
                            <p class="lead"></p>
                            <p class="lead"></p>  

                        </center>
                                   
                    </div>
                </div>
            </div>
        </section>


        
        <center>
            <h5>Alojesé en este hogar familiar de Chacras de Coria, Mendoza, Argentina. La casa completa presenta 2 habitaciones, 2 baños y un gran jardín con quincho, parrilla, piscina y parking. Se ubica dentro de un callejón privado en una zona tranquila y arbolada. Cuenta con aire acondicionado.</h5>
              

        </center>
       
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('')">
            <div class="text-center my-5">
                <img class="img-fluid  mb-4" src="{% static 'AppCoder/imagen2.jpg' %}" alt="500" width="1400" height="1000"/>
                <img class="img-fluid  mb-4" src="{% static 'AppCoder/imagen4.png' %}" alt="500" width="1400" height="1000"/>
                <img class="img-fluid  mb-4" src="{% static 'AppCoder/imagen5.png' %}" alt="500" width="1400" height="1000"/>
                <img class="img-fluid  mb-4" src="{% static 'AppCoder/imagen6.png' %}" alt="500" width="1400" height="1000"/>
                <img class="img-fluid  mb-4" src="{% static 'AppCoder/imagen7.png' %}" alt="500" width="1400" height="1000"/>
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        
        
        <!-- Content section-->
        
        
    </body>
</html>

{% endblock %}
