<!DOCTYPE html>

{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<html lang="en">


<head>
       
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Portafolio Franco Romero</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'AppCoder/css/cssContact.css' %}" rel="stylesheet" />
</head>
    
    <br />
    <div class="inner contact">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        
                        <form id="contact-us" method="POST" action="opinion"> {% csrf_token %}
                            <!-- Left Inputs -->
                            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                <!-- Name -->
                                <input type="text" name="name" id="name" required="required" class="form" placeholder="Nombre" />
                                <!-- Email -->
                                <input type="text" name="lastname" id="lastname" required="required" class="form" placeholder="Apellido" />
                                <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                                <!-- Subject -->
                                
                                <input type="text" name="opinar" id="opinar" required=" required" class="form" placeholder="Opinar" />
                            </div><!-- End Left Inputs -->
                            <!-- Right Inputs -->
                            <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                                <!-- Message -->
                                
                            </div><!-- End Right Inputs -->
                            <!-- Bottom Submit -->
                            <div class="relative fullwidth col-xs-12">
                                <!-- Send Button -->
                                <button type="submit" id="submit" name="submit" class="form-btn semibold">Publicar la Opinion</button> 
                            </div><!-- End Bottom Submit -->
                            <!-- Clear -->
                            <div class="clear"></div>
                        </form>
                        <br>
                        <br>
                        <br>
                        <br>
                        <hr size="5" style="color: black;">
                        <h4>Opiniones </h4>
                        <br>
                        

                        {% for p in comentarios %}

                           <li>{{p}}</li>
                           <br>

                        {% endfor %}
                        




                        <!-- Your Mail Message -->
                        <div class="mail-message-area">
                            <!-- Message -->
                            <div class="alert gray-bg mail-message not-visible-message">
                                <strong>Thank You !</strong> Your email has been delivered.
                            </div>
                        </div>

                    </div><!-- End Contact Form Area -->
                </div><!-- End Inner -->


    <center></center>
</html>
<br>
<br>
<br>
{% endblock %}